function AssistTool.mod 0
label AssistTool_0
    push argument 0
    push argument 1
    gt
    not
    if-goto AssistTool_1
    push argument 0
    push argument 1
    sub
    pop argument 0
    goto AssistTool_0
label AssistTool_1
label AssistTool_2
    push argument 0
    push constant 0
    lt
    not
    if-goto AssistTool_3
    push argument 0
    push argument 1
    add
    pop argument 0
    goto AssistTool_2
label AssistTool_3
    push argument 0
    return
function AssistTool.abs 0
    push argument 0
    push constant 0
    lt
    not
    if-goto AssistTool_5
    push argument 0
    neg
    pop argument 0
    goto AssistTool_4
label AssistTool_5
label AssistTool_4
    push argument 0
    return
function AssistTool.drawRectangleByShift 0
    push argument 0
    push argument 4
    add
    push argument 1
    push argument 5
    add
    push argument 2
    push argument 4
    add
    push argument 3
    push argument 5
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function AssistTool.drawLineByShift 0
    push argument 0
    push argument 4
    add
    push argument 1
    push argument 5
    add
    push argument 2
    push argument 4
    add
    push argument 3
    push argument 5
    add
    call Screen.drawLine 4
    pop temp 0
    push constant 0
    return
function AssistTool.drawPixelByShift 0
    push argument 0
    push argument 2
    add
    push argument 1
    push argument 3
    add
    call Screen.drawPixel 2
    pop temp 0
    push constant 0
    return